<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="../styles/styles.css" >
<title>Open An Account</title>
</head>
<body>
<h1>Open An Account</h1>

<form  method="post" action="" class="form-group" >
	
	<label for="accountType">Account Type</label>
	<select name="accountType" class="form-control" >
		<option selected >Savings Account</option>
		<option selected >Current Account</option>
		<option selected >Overdraft Account</option>
	</select>
	
	<label for="name">Name</label>
	<input type="text" name="name" class="form-control"/>
	
	
	<label for="accountNumber">Name</label>
	<input type="text" name="name" class="form-control"/>
	
	<label for="accountNumber">Password</label>
	<input type="password" name="accountNumber" class="form-control"/>
	
	<label for="accountNumber">Balance</label>
	<input type="password" name="balance" class="form-control"/>
	
	
	
	
	
	<br/>
	<input type="submit" value="Open Account" class="form-control"/>
	

</form>

</body>
</html>